<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher_flat"
        android:roundIcon="@drawable/ic_launcher_flat"
        android:theme="@style/Theme.FightArena"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LobbyActivity" android:exported="false" />
        <activity android:name=".BattleActivity" android:exported="false" />
        <activity android:name=".RoyaleActivity" android:exported="false" />

    </application>

</manifest>
